<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SQLServer" connectionString="Data Source=xxx;Initial Catalog=xxx;Integrated Security=True;"/>
        <add name="Oracle" connectionString="Data Source=DB03;User Id=xxx;Password=xxx;Integrated Security=No;"/>
    </connectionStrings>
    <appSettings>
        <!-- relative file pat h-->
        <add key="SQLFile" value="SQL\xxx.sql"/>
        <!-- cache expired time (seconds) -->
        <add key="CacheTimeOut" value="86400"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>